<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>GraphQL</title>
  <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
  <div class="action-bar">
    <button id="demo">Demo</button>
  </div>
  <pre>
    <code id="code">

    </code>
  </pre>

<script>
  $(function () {
    $('#demo').on('click', function () {
      $.ajax({
        type: "POST",
        url: "/graphql",
        contentType: 'application/graphql',
        data: '{__schema { queryType { name, fields { name, description} }}}',
        success: function (response) {
          console.log(response)
        }
      });
    });
  });
</script>
</body>
</html>